.blocks {
  background: #ff8844;
  width: 30%;
  margin-left: 3%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 100%;
  text-align: center;
}

.item-details {
  height: 5vh;
  margin-top: 4vh;
  /* background: grey; */
  font-size: 50px;
  text-align: center;
}

.item-tag {
  height: 5vh;
  margin-top: 4vh;
  /* background: pink; */
  text-align: center;
  font-size: 20px;
}
