* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "montseratt", sans-serif;
}

.App {
  background: url("./assets/bg.jpg") no-repeat;
  display: flex;
  background-size: cover;
  text-align: center;
  font-size: 30px;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: 0.4s ease-out;
}

.Sunnny {
  background: url("./assets/warm.jpg") no-repeat !important;
  background-size: cover;
  transition: 0.4s ease-out;
}

.Clear {
  background: url("./assets/cold.jpg") no-repeat !important;
  background-size: cover;
  transition: 0.4s ease-out;
}

.Clouds {
  background: url("./assets/cloudyy.jpg") no-repeat !important;
  background-size: cover;
  transition: 0.4s ease-out;
}
/* 
.Haze {
  background: url("./assets/haze1.jpg") no-repeat !important;
  background-size: cover;
} */
/* Fog */
.App .clear {
  background: url("./assets/bg.jpg") no-repeat;
  display: flex;
  background-size: cover;
  text-align: center;
  font-size: 30px;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: 0.4s ease-out;
}

.weather-box {
  justify-content: center;
  align-content: center;
  color: white;
  height: 50vh;
  width: 90vw;
}

.heading {
  height: 20vh;
  color: #fefdfe;
  font-size: 60px;
  transition: 1s ease-out;
}

.search-bar {
  background: none;
  outline: none;
  border: none;
  width: 90%;
  height: 80%;
  font-size: 20px;
}
.search-box {
  display: inline-block;
  padding-top: 7px;

  align-items: center;
  background: white;
  border-radius: 50px;
  height: 7vh;
  width: 50%;
}

.result-box {
  height: 400px;
  width: auto;
  background: transparent;
}

.location-box {
  text-align: left;
  background: transparent;
  justify-content: center;
}

.weather-box-inside {
  display: flex;
}

.location {
  font-size: 70px;
  font-weight: 500;
}
.date {
  font-size: 25px;
  padding-top: 5px;
}

.temp {
  height: 22vh;
  font-size: 150px;
  text-align: center;
  width: 40vw;
}

.weather {
  width: 40vw;
  text-align: center;
  font-size: 30px;
}

.temp-properties {
  height: 100px;
  background: blue;
  width: 40vw;
}
